<aside>
    <h1>Class List</h1>
    <div>
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        sort<span class="caret"></span></button>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Most recent</a></li>
        <li><a href="#">Most frequent</a></li>
        <li><a href="#">Alphabetical (A-Z)</a></li>
        <li><a href="#">Alphabetical (Z-A)</a></li>        
    </ul>
    </div>

    <section>
      <article class="student">
            Erica
        </article>
        <article class="student-notice">
            Evangeline <span class="badge pull-right">3</span>    
        </article>
        <article class="student">
            Isla 
        </article>
        <article class="student-notice">
            Harrison <span class="badge pull-right">1</span>                       
        </article>
        <article class="student-notice">
            Liliana <span class="badge pull-right">2</span>
        </article>
        <article class="student">
            Myles
        </article>
    </section>
</aside>